In [3]:
import pandas as pd 

df = pd.read_csv("data.csv")
df.head()

,frame_0_row_0_col_0,frame_0_row_0_col_1,frame_0_row_0_col_2,frame_0_row_0_col_3,frame_0_row_0_col_4,frame_0_row_0_col_5,frame_0_row_0_col_6,frame_0_row_0_col_7,frame_0_row_0_col_8,frame_0_row_0_col_9,...,frame_2_row_31_col_22,frame_2_row_31_col_23,frame_2_row_31_col_24,frame_2_row_31_col_25,frame_2_row_31_col_26,frame_2_row_31_col_27,frame_2_row_31_col_28,frame_2_row_31_col_29,frame_2_row_31_col_30,frame_2_row_31_col_31
0,206.0,215.0,202.0,204.0,196.0,199.0,195.0,198.0,201.0,191.0,...,201.0,201.0,200.0,203.0,204.0,206.0,205.0,205.0,205.0,207.0
1,190.0,200.0,205.0,191.0,198.0,204.0,212.0,215.0,209.0,206.0,...,203.0,202.0,206.0,208.0,206.0,202.0,205.0,209.0,208.0,206.0
2,235.0,229.0,224.0,220.0,224.0,213.0,211.0,217.0,205.0,200.0,...,209.0,202.0,203.0,202.0,206.0,208.0,206.0,210.0,211.0,211.0
3,219.0,223.0,219.0,222.0,210.0,215.0,213.0,208.0,214.0,209.0,...,206.0,205.0,206.0,211.0,210.0,210.0,209.0,210.0,207.0,202.0
4,187.0,187.0,195.0,190.0,195.0,205.0,215.0,216.0,223.0,213.0,...,210.0,210.0,209.0,209.0,208.0,208.0,211.0,214.0,209.0,211.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266 entries, 0 to 1265
Columns: 3072 entries, frame_0_row_0_col_0 to frame_2_row_31_col_31
dtypes: float64(3072)
memory usage: 29.7 MB

In [14]:
df.isnull().sum()

frame_0_row_0_col_0      0
frame_0_row_0_col_1      0
frame_0_row_0_col_2      0
frame_0_row_0_col_3      0
frame_0_row_0_col_4      0
                        ..
frame_2_row_31_col_27    0
frame_2_row_31_col_28    0
frame_2_row_31_col_29    0
frame_2_row_31_col_30    0
frame_2_row_31_col_31    0
Length: 3072, dtype: int64

In [ ]:
df.shape

In [11]:
df.describe()

,frame_0_row_0_col_0,frame_0_row_0_col_1,frame_0_row_0_col_2,frame_0_row_0_col_3,frame_0_row_0_col_4,frame_0_row_0_col_5,frame_0_row_0_col_6,frame_0_row_0_col_7,frame_0_row_0_col_8,frame_0_row_0_col_9,...,frame_2_row_31_col_22,frame_2_row_31_col_23,frame_2_row_31_col_24,frame_2_row_31_col_25,frame_2_row_31_col_26,frame_2_row_31_col_27,frame_2_row_31_col_28,frame_2_row_31_col_29,frame_2_row_31_col_30,frame_2_row_31_col_31
count,1266.000000,1266.000000,1266.00000,1266.000000,1266.000000,1266.000000,1266.000000,1266.000000,1266.00000,1266.000000,...,1266.000000,1266.000000,1266.000000,1266.000000,1266.000000,1266.000000,1266.000000,1266.000000,1266.000000,1266.000000
mean,206.631912,206.067141,206.13981,206.103476,206.030016,205.897314,205.749605,205.635071,205.78436,205.729858,...,205.236177,205.472354,205.507109,205.523697,205.436809,205.143760,205.759874,205.638231,205.535545,205.689573
std,21.802717,16.614325,13.37558,11.440979,10.502281,10.014324,9.965459,10.014432,9.75592,9.543891,...,6.562101,5.032191,4.298399,4.323828,4.078619,4.300734,4.174551,4.105940,4.096166,4.137843
min,79.000000,120.000000,146.00000,129.000000,150.000000,162.000000,151.000000,160.000000,152.00000,162.000000,...,111.000000,144.000000,189.000000,188.000000,191.000000,185.000000,191.000000,184.000000,190.000000,189.000000
25%,196.000000,197.000000,198.00000,199.000000,200.000000,199.000000,200.000000,200.000000,200.00000,200.000000,...,203.000000,203.000000,203.000000,203.000000,203.000000,202.000000,203.000000,203.000000,203.000000,203.000000
50%,210.000000,208.000000,207.00000,207.000000,207.000000,206.000000,207.000000,207.000000,207.00000,207.000000,...,206.000000,206.000000,206.000000,206.000000,206.000000,205.000000,206.000000,206.000000,206.000000,206.000000
75%,222.000000,217.000000,216.00000,214.000000,213.000000,213.000000,213.000000,212.000000,213.00000,212.000000,...,208.000000,208.000000,208.750000,209.000000,208.000000,208.000000,209.000000,209.000000,208.000000,209.000000
max,246.000000,242.000000,235.00000,233.000000,230.000000,233.000000,230.000000,231.000000,230.00000,229.000000,...,218.000000,218.000000,218.000000,217.000000,216.000000,216.000000,218.000000,219.000000,220.000000,217.000000

gif into individual frames into 1D and saving it in csv

In [2]:
from PIL import Image
import numpy as np



gif = Image.open("train.gif")

# Initialize an empty list to store the frames
frames = []
for i in range(gif.n_frames):
    
    gif.seek(i)
    # Convert the frame to a numpy array
    arr = np.array(gif)
    # Flatten the array to 1D
    arr = arr.flatten()
    # Append the array to the list of frames
    frames.append(arr)

# Convert the list of frames to a pandas dataframe
df = pd.DataFrame(frames)
df.to_csv("frames.csv", index=False)

In [5]:
import numpy as np
def split_train_test(data,test_ratio):
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data))*test_ratio
    test_indices = shuffled[0:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [6]:
from sklearn.model_selection import train_test_split
train_set, test_set=train_test_split(df,test_size=0.2,random_state=42)
print(f"rows in train set: {len(train_set)}\nrows in test set: {len (test_set)}")

rows in train set: 1012
rows in test set: 254

linear regression

In [23]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression
lr.fit(train_set)

AttributeError: 'DataFrame' object has no attribute '_validate_params'

In [17]:
from sklearn.datasets import load_breast_cancer
 
# instantiating
cancer = load_breast_cancer(as_frame=True)
# creating dataframe
df = cancer.frame
 
# checking shape
print('Original Dataframe shape :',df.shape)
 
# Input features
X = df[cancer['feature_names']]
print('Inputs Dataframe shape   :', X.shape)

Original Dataframe shape : (569, 31)
Inputs Dataframe shape   : (569, 30)

In [18]:
# Mean
X_mean = X.mean()
 
# Standard deviation
X_std = X.std()
 
# Standardization
Z = (X - X_mean) / X_std

In [21]:
from sklearn.decomposition import PCA
 
# Let's say, components = 2
pca = PCA(n_components=2)
pca.fit(Z)
x_pca = pca.transform(Z)
 
# Create the dataframe
df_pca1 = pd.DataFrame(x_pca,
                       columns=['PC{}'.
                       format(i+1)
                        for i in range(2)])
print(df_pca1)

           PC1        PC2
0     9.184755   1.946870
1     2.385703  -3.764859
2     5.728855  -1.074229
3     7.116691  10.266556
4     3.931842  -1.946359
..         ...        ...
564   6.433655  -3.573673
565   3.790048  -3.580897
566   1.255075  -1.900624
567  10.365673   1.670540
568  -5.470430  -0.670047

[569 rows x 2 columns]